{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}

    <main>

        <h5 class="teal-text" style="text-align: center;">Modifique los campos a continuación</h5>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 2%; margin-right: 2%; padding: 30px 30px 0px 30px; border: 1px solid #EEE;">
                <form class="col s12 m12" method="post">
                    {% csrf_token %}
                    {% block body %}
                    {% endblock body %}
                </form>
            </div>
        </div>
    </main>
{% endblock %}