{% extends 'base.html' %}
{% block content %}
    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h3 style="text-align: center;" class="teal-text">Reestablecer contraseña</h3>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 2%; margin-right: 2%; padding: 30px 30px 0 30px; border: 1px solid #EEE;">
                {% if validlink %}

                    <div class="section" align="center">
                        <h4 style="align-content: center">Ingresa tu nueva contraseña</h4>
                    </div>

                    <form class="col s12" method="post">
                        <div class='row'>
                            {{ form.password1.errors }}
                            <div class='input-field col s12 m12'>

                                <label style="text-align: center" for="{{ form.password1.id_for_label }}">Ingresa tu
                                    contraseña</label>
                                {{ form.password1 }}
                            </div>
                        </div>

                        <div class='row'>
                            {{ form.password2.errors }}
                            <div class='input-field col s12 m12'>

                                <label style="text-align: center" for="{{ form.password2.id_for_label }}">Repite tu
                                    contraseña</label>
                                {{ form.password2 }}
                            </div>
                        </div>

                        <div class='row'>
                            <button type='submit' name='btn_confirmation'
                                    class='col l6 offset-l3 btn btn-large waves-effect teal'>
                                Confirmar
                            </button>
                        </div>

                    </form>
                {% else %}
                    <div class="section" align="center">
                        <h4 style="align-content: center">El link para reestablecer la contraseña era invalido,
                            posiblemente porque está vencido o ya fue usado.
                            Por favor haga una nueva solicitud para reestablecer su contraseña</h4>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="section"></div>
        <div class="section"></div>
    </main>
{% endblock %}