{% extends 'base.html' %}
{% block content %}
    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h5 style="text-align: center;" class="teal-text">Reestablecer contraseña</h5>
        <div class="section"></div>

        <div class="container">
            <div class="z-depth-1 grey lighten-4 row"
                 style="margin-left: 2%; margin-right: 2%; padding: 30px 30px 0 30px; border: 1px solid #EEE;">

                <form class="col s12" method="post">
                    {% csrf_token %}
                    <div class='row'>
                        <div class='input-field col s12 m12'>
                            <label style="text-align: center;" for='{{ form.email.id_for_label }}'>Ingresa tu nombre de
                                usuario</label>
                            {{ form.email }}
                        </div>
                    </div>

                    <div class='row'>
                        <button type='submit' name='btn_confirmation'
                                class='col l6 offset-l3 btn btn-large waves-effect teal'>
                            Confirmar
                        </button>
                    </div>

                </form>
            </div>
        </div>
        <div style="text-align: center;"><a class="grey-text">¿Aún no tienes cuenta?</a> <a
                href="{% url 'account:register' %}"> Regístrate</a></div>


        <div class="section"></div>
        <div class="section"></div>
    </main>
{% endblock %}