{% extends 'register_base.html' %}
{% block body %}
    {% load staticfiles %}
    {{ form.non_field_errors }}
    <div class="row">
        <div class="input-field col s6">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">Nombre</label>
            {{ form.first_name|attr:"autofocus" }}
        </div>
        <div class="input-field col s6">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Apellido</label>
            {{ form.last_name }}
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.username.errors }}
            <label style="text-align: center" for="{{ form.username.id_for_label }}">Nombre de
                usuario</label>
            {{ form.username }}

        </div>
    </div>

    <div class="row">
        <div class='input-field col s12 m12'>
            {{ form.email.errors }}
            <label style="text-align: center" for="{{ form.email.id_for_label }}">Ingresa tu
                e-mail</label>
            {{ form.email }}
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.password1.errors }}
            <label style="text-align: center" for="{{ form.password1.id_for_label }}">Ingresa tu
                contraseña</label>
            {{ form.password1 }}
        </div>
    </div>

    <div class='row'>
        <div class='input-field col s12 m12'>
            {{ form.password2.errors }}
            <label style="text-align: center" for="{{ form.password2.id_for_label }}">Repite tu
                contraseña</label>
            {{ form.password2 }}
        </div>
    </div>


    <div class='row'>
        Seleccione sus formas de pago:
        <p>
            {{ form.cash.errors }}
            {{ form.cash }}
            <label for="{{ form.cash.id_for_label }}">Efectivo</label>
        </p>
        <p>
            {{ form.credit.errors }}
            {{ form.credit }}
            <label for="{{ form.credit.id_for_label }}">Tarjeta de Crédito</label>

        </p>
        <p>
            {{ form.debit.errors }}
            {{ form.debit }}
            <label for="{{ form.debit.id_for_label }}">Tarjeta de Débito</label>
        </p>
        <p>
            {{ form.social.errors }}
            {{ form.social }}
            <label for="{{ form.social.id_for_label }}">Tarjeta Junaeb</label>
        </p>
    </div>

    <div class='row'>
        <p>Cambiar avatar:</p>
        <input class="with-gap" name="group1" type="radio" id="test1"/>
        <label for="test1"><img class="circle" style="max-width: 50px;"
                                src="{% static 'img/AvatarVendedor1.png' %}"></label>
        <input class="with-gap" name="group1" type="radio" id="test2"/>
        <label for="test2"><img class="circle" style="max-width: 50px;"
                                src="{% static 'img/AvatarVendedor2.png' %}"></label>
        <input class="with-gap" name="group1" type="radio" id="test3"/>
        <label for="test3"><img class="circle" style="max-width: 50px;"
                                src="{% static 'img/AvatarVendedor3.png' %}"></label>
        <input class="with-gap" name="group1" type="radio" id="test4"/>
        <label for="test4"><img class="circle" style="max-width: 50px;"
                                src="{% static 'img/AvatarVendedor4.png' %}"></label>
    </div>

    <div class='row center'>
        <button type='submit' name='btn_login'
                class='btn btn-large waves-effect teal'>
            Registrarse
        </button>
    </div>

{% endblock %}

{% block peddler %}
    value="#" disabled selected
{% endblock %}

{% block default %}
{% endblock %}