{% extends 'base.html' %}
{% block content %}
    <div class="section"></div>
    <main>
        <div class="section"></div>

        <h3 style="text-align: center;" class="teal-text">Eliminar cuenta</h3>
        <div class="section" align="center">
            <h4 style="align-content: center" >Tu cuenta ha sido eliminada con éxito</h4>
        </div>

        <form class="col s12" method="post">
            <div class='row' style="align-content: center">
                <a href="{% url 'map:index' %}">
                <button type='button' class='col l6 offset-l3 btn btn-large waves-effect teal'>
                    Volver al inicio
                </button></a>
            </div>

        </form>

        <div class="section"></div>
        <div class="section"></div>
    </main>
{% endblock %}