{% extends 'base.html' %}
{% block content %}

    <script>
        window.onload = function () {
            var ImageMap = function (map, img) {
                    var n,
                        areas = map.getElementsByTagName('area'),
                        len = areas.length,
                        coords = [],
                        previousWidth = 1536,
                        previousHeight = 980,
                        xpositions = [850,830,830,924,826],
                        ypositions = [205,320,410,654,608];

                    for (n = 0; n < len; n++) {
                        coords[n] = areas[n].coords.split(',');
                    }
                    this.resize = function () {
                        var n, m, clen,
                            x = img.clientWidth / previousWidth,
                            y = img.clientHeight / previousHeight;
                        for (n = 0; n < len; n++) {
                            clen = coords[n].length;
                            for (m = 0; m < clen; m++) {
                                coords[n][0] = xpositions[n]*x;
                                coords[n][1] = ypositions[n]*y;
                            }
                            areas[n].coords = coords[n].join(',');
                        }
                        return true;
                    };
                    window.onresize = this.resize;
                },
                imageMap = new ImageMap(document.getElementById('map_ID'), document.getElementById('img_ID'));
            imageMap.resize();
            return;
        }
    </script>

	<div id="map">
        <img src="../static/img/map2.png" width="100%" height="100%" alt="map" usemap="#map" id="img_ID">

        <map name="map" id="map_ID">
            <area shape="circle" coords="850,205,10" alt="vendedor1" title="vendedor1" href="#" style="color: #00C853">
            <area shape="circle" coords="830,320,10" alt="vendedor2" title="vendedor2" href="#">
            <area shape="circle" coords="830,410,10" alt="vendedor3" title="vendedor3" href="#">
            <area shape="circle" coords="924,654,10" alt="vendedor4" title="vendedor4" href="#">
            <area shape="circle" coords="826,608,15" alt="vendedorFavorito" title="vendedorFavorito" href="#">
        </map>
    </div>

<!--
    <script>
      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.457785, lng: -70.663808};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: beau850
        });
        infoWindow = new google.maps.InfoWindow;

        var info = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div><p style="float: left;"><img src="../static/img/AvatarVendedor4.png" width="50" hspace="10"></p>'    +
            '<h4>Casino</h4></div>'+
            '<p style="color:#029500;"> Disponible</p>' +
            '<div id="bodyContent">'+
            '<p>Vendedores de almuerzo</p>'+
            '<p><i>Menú de hoy:</i> Lasaña</p>' +
            '<p><i>Formas de pago:</i> Efectivo, Tarjeta de Crédito o Débito, Junaeb</p>' +
            '<p><i>Horario:</i> 12:30-14:15</p>' +
            '<p><input type="checkbox" class="filled-in" id="test" checked="checked" />' +
            '<label for="test">Favorito</label></p>' +
            '<p style="text-align: right;">Ver detalles»</p>' +
            '</div>'+
            '</div>';

        var infoVendedor = new google.maps.InfoWindow({
          content: info,
          maxWidth: 400
        });


        var marker = new google.maps.Marker({
          position: beau850,
          map: map
        });

        var marker2 = new google.maps.Marker({
          position: {lat: -33.457885, lng: -70.663808},
          map: map
        });

        var marker3 = new google.maps.Marker({
          position: {lat: -33.458085, lng: -70.663808},
          map: map,
          icon: '../static/img/star.png'
        });

        var marker4 = new google.maps.Marker({
          position: {lat: -33.458158, lng: -70.663678},
          map: map
        });

        var marker5 = new google.maps.Marker({
          position: {lat: -33.457658, lng: -70.663778},
          map: map
        });

        marker3.addListener('click', function() {
            infoVendedor.open(map, marker3);
          });

        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm-ftAR-rcPT-ALVRZ-16ek-Cl7vrXmws&callback=initMap">
    </script>
-->
{% endblock %}
