{% extends 'base.html' %}
{% block content %}
    {% load staticfiles %}
    {% load humanize %}
    <script>
        $(document).ready(function () {
            $('.modal').modal();
        });
        var count = $('#stock_count').value()
    </script>
    <main>

        <div class="container">
            <div id="profile-page-header" class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{% static 'img/food-background3.png' %}" alt="seller background">
                </div>
                <div class="row show-on-small">
                    <a class="card-profile-image-small">
                        <img src="{{ seller_profile.image.url }}" alt="profile image"
                             class="circle z-depth-2 responsive-img activator">
                    </a>
                </div>

                <div class="card-content s12">
                    <div class="row">
                        <div class="col s6 m3 l3 center-align">
                            <h4 class="card-title grey-text flow-text text-darken-4 offset-s3 center">{{ seller.first_name }} {{ seller.last_name }}</h4>
                            <p class="medium-small flow-text grey-text center">
                                {% if isPeddler %}
                                    Vendedor Ambulante
                                {% else %}
                                    Vendedor Fijo
                                {% endif %}
                            </p>
                            {% if isPeddler %}
                                <!-- if activo
                                        horario inicio - horario fin
                                     end if-->
                            {% else %}
                                <p class="flow-text text-darken-4 center" style="font-size: 0.88rem;">
                                    Horario: <a class="light-green-text">{{ seller_profile.start }}
                                    - {{ seller_profile.end }}</a>
                                </p>
                            {% endif %}
                        </div>
                        <div class="col s6 m3 l3 center-align">
                            <h4 class="card-title flow-text text-darken-4">Estado</h4>
                            <p class="medium-small flow-text light-green-text">Disponible</p>
                        </div>
                        <div class="col s6 m3 l3 center-align">
                            <h4 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de
                                pago</h4>
                            {% if seller_profile.cash %}
                                <p class="medium-small flow-text grey-text center">Efectivo</p>
                            {% endif %}
                            {% if seller_profile.credit %}
                                <p class="medium-small flow-text grey-text center">Credito</p>
                            {% endif %}
                            {% if seller_profile.debit %}
                                <p class="medium-small flow-text grey-text center">Debito</p>
                            {% endif %}
                            {% if seller_profile.social %}
                                <p class="medium-small flow-text grey-text center">Junaeb</p>
                            {% endif %}
                        </div>

                        <div class="col s6 m3 l3 center-align">
                            <a class="switch" style="margin-left: 10px;">
                                <h4 class="card-title grey-text flow-text text-darken-4">Favorito</h4>
                                {% if isClient %}
                                    <a href="{% url 'showcase:favorite_seller' seller.id %}">
                                        <i id="favorite" class=" material-icons amber-text"
                                        >{% if isFavorite %}star{% else %}star_border{% endif %}</i></a>
                                    <span id="favorite_count" class=" grey-text flow-text text-darken-4"
                                          style="font-size:24px; line-height:35px;">{{ favorite }}</span>
                                {% else %}
                                    <h6>
                                    <i class="material-icons amber-text">star_border</i>
                                    <span class=" grey-text flow-text text-darken-4"
                                          style="font-size:24px; line-height:35px;">{{ favorite }}</span>
                                {% endif %}
                                </h6>
                            </a>
                        </div>
                    </div>


                </div>

                <div class="col s3 l2 right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </div>
            </div>


        </div>
        </div>

        <div id="profile-page-content" class="row">
            <div id="profile-page-wall" class="col s12 m8">
                <div class="col s12 z-depth-1">
                    <div class="tab-content col s12">

                        {% for dish in dishes %}
                            <div class="col s6 m6 l4">
                                <div class="container">
                                    <div class="card z-depth-1">
                                        <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                            <img class="activator responsive-img center-block"
                                                 style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                                 src="{{ dish.image.url }}">
                                        </div>
                                        <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4">{{ dish.name }}<i
                                                            class="material-icons right">more_vert</i></span>
                                            <p><a class="teal-text">${{ dish.price|intcomma }}</a></p>

                                        </div>
                                        <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">{{ dish.name }}<i
                                                            class="material-icons right">close</i></span>
                                            <ul>
                                                <li>Precio: <a
                                                        class="green-text light-green-text">${{ dish.price|intcomma }}</a>
                                                </li>
                                                <li>Categoria:
                                                    {% with dish.tags.all as tags %}
                                                        {% for tag in tags %}
                                                            {{ tag.name }},
                                                        {% endfor %}
                                                    {% endwith %}
                                                </li>
                                                <li>
                                                    {% if user.is_authenticated and user.id == seller.id %}
                                                        <form action="{% url 'showcase:showcase' seller.id %}"
                                                              method="post">
                                                            {% csrf_token %}
                                                            <div>Stock:</div>
                                                            <a id="stock_dec"
                                                               class="btn-floating waves-effect waves-light red btn-small">
                                                                <i class="material-icons">remove</i>
                                                            </a>
                                                            <input type="hidden" name="dish_id" value="{{ dish.id }}">
                                                            <input id="stock_count" value="{{ dish.stock }}"
                                                                   type="number" name="stock_count"
                                                                   min="0" step="1" class="validate"
                                                                   style="height: 1.5em; width: 30%; text-align: center">
                                                            <label for="stock_count"></label>
                                                            <a id="stock_inc"
                                                               class="btn-floating waves-effect waves-light red btn-small">
                                                                <i class="material-icons">add</i>
                                                            </a>
                                                            <input type="submit" id="update_stock"
                                                                   style="display: none">
                                                            <label for="update_stock">
                                                                <a id="stock_inc"
                                                                   class="btn-floating waves-effect waves-light green btn-small">
                                                                    <i class="material-icons">check</i>
                                                                </a>
                                                            </label>
                                                        </form>
                                                    {% else %}
                                                        Stock: {{ dish.stock }}
                                                    {% endif %}
                                                </li>
                                                <li>Descripción: {{ dish.description }}
                                                    <p class="right-align"><a
                                                            class="waves-effect waves-light"
                                                            href="{{ dish.image.url }}">Ver imagen</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}

                        <!-- Only for reference, must be deleted in later version-->
                        <div class="col s6 m6 l4">
                            <div class="container">
                                <div class="card z-depth-1">
                                    <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                        <img class="activator responsive-img center-block"
                                             style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                             src="{% static 'img/pizza.png' %}">
                                    </div>
                                    <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4">Pizza<i
                                                            class="material-icons right">more_vert</i></span>
                                        <p><a class="teal-text">$1.300</a></p>
                                        <div id="modal1" class="modal">
                                            <div class="modal-content">
                                                <img class="activator responsive-img center-block"
                                                     src="{% static 'img/pepperoni1.jpg' %}">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#"
                                                   class="modal-action modal-close waves-effect waves-green btn-flat"><i
                                                        class="large material-icons">close</i></a>
                                            </div>
                                        </div>
                                        <div id="modal2" class="modal">
                                            <div class="modal-content">
                                                <img class="activator responsive-img center-block"
                                                     src="{% static 'img/pollo1.jpg' %}">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#"
                                                   class="modal-action modal-close waves-effect waves-green btn-flat"><i
                                                        class="large material-icons">close</i></a>
                                            </div>
                                        </div>
                                        <div id="modal3" class="modal">
                                            <div class="modal-content">
                                                <img class="activator responsive-img center-block"
                                                     src="{% static 'img/jugo1.jpg' %}">
                                            </div>
                                            <div class="modal-footer">
                                                <a href="#"
                                                   class="modal-action modal-close waves-effect waves-green btn-flat"><i
                                                        class="large material-icons">close</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Pizza<i
                                                            class="material-icons right">close</i></span>
                                        <ul>
                                            <li>Precio: <a class="green-text light-green-text">$1.300</a>
                                            </li>
                                            <li>Categoria: Almuerzos</li>
                                            <li>Stock: 20</li>
                                            <li>Descripción: Deliciosa pizza hecha con masa casera, viene
                                                disponible en 3 tipos:
                                                <p>-Peperoni: Queso mozzarella, Pepperoni</p>
                                                <p class="right-align"><a class="waves-effect waves-light"
                                                                          href="#modal1">Ver imagen</a></p>
                                                <p>-Clásica: Queso mozzarella, Aceitunas, Jamon, Tomate</p>
                                                <p class="right-align"><a class="waves-effect waves-light"
                                                                          href="#modal1">Ver imagen</a></p>
                                                <p>-Vegetariana: Queso mozzarella, Aceitunas, Champiñones,
                                                    Tomate</p>
                                                <p class="right-align"><a class="waves-effect waves-light"
                                                                          href="#modal1">Ver imagen</a></p>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col s6 m6 l4">
                            <div class="container">
                                <div class="card z-depth-1">
                                    <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                        <img class="activator responsive-img center-block"
                                             style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                             src="{% static 'img/rice.png' %}">
                                    </div>
                                    <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4">Menú de arroz<i
                                                            class="material-icons right">more_vert</i></span>
                                        <p><a class="teal-text">$2.500</a></p>
                                    </div>
                                    <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Menú de arroz<i
                                                            class="material-icons right">close</i></span>
                                        <ul>
                                            <li>Precio: <a class="green-text light-green-text">$2.500</a>
                                            </li>
                                            <li>Categoria: Almuerzos</li>
                                            <li>Stock: 40</li>
                                            <li>Descripción: Almuerzo de arroz con pollo arvejado.
                                                <p class="right-align"><a class="waves-effect waves-light"
                                                                          href="#modal2">Ver imagen</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col s6 m6 l4">
                            <div class="container">
                                <div class="card z-depth-1">
                                    <div class="teal lighten-2 card-image waves-effect waves-block waves-light">
                                        <img class="activator responsive-img center-block"
                                             style="max-width: 30%; margin-top:20px; margin-bottom:20px;"
                                             src="{% static 'img/juice.png' %}">
                                    </div>
                                    <div class="card-content">
                                                    <span class="card-title activator grey-text text-darken-4">Jugo<i
                                                            class="material-icons right">more_vert</i></span>
                                        <p><a class="teal-text">$300</a></p>
                                    </div>
                                    <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Jugo<i
                                                            class="material-icons right">close</i></span>
                                        <ul>
                                            <li>Precio: <a class="green-text light-green-text">$300</a></li>
                                            <li>Categoria: Snack</li>
                                            <li>Stock: 40</li>
                                            <li>Descripción: Jugo en caja sabor durazno.
                                                <p class="right-align"><a class="waves-effect waves-light"
                                                                          href="#modal3">Ver imagen</a></p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class='row center'>
                        <a class=' btn btn-large waves-effect button teal'
                           href="{% url 'showcase:item_new' %}?next={{ request.path|urlencode }}">Agregar Item</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}